.custom-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-text-input {
  border: none;
  outline: none;
  font-size: 24px; /* Tamanho da fonte */
  color: black; /* Cor do texto */
  width: 2.4rem; /* Largura de cada pseudo-campo */
  text-align: center;
}

.custom-text-input:focus {
  box-shadow: none; /* Remover a sombra ao focar */
}

/* Adicionar borda à esquerda de cada pseudo-campo, exceto o primeiro */
.custom-text-input:not(:first-child) {
  border-left: 1px solid #000;
  margin-left: -1px; /* Correção para a sobreposição da borda */
}
