<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/logo/Logo_Target/logo_para_fundo_claro.png" alt="Sakai logo" class="mb-5 w-15rem flex-shrink-0">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 243, 163, 0) 30%);">
            <div class="w-full surface-card pt-8 pb-5 px-5 sm:px-8" style="border-radius:53px">
                <div *ngIf="isLoginAcess">
                    <div class="text-center mb-5">
                        <div class="text-900 text-3xl font-medium mb-3">Bem vindo(a)!</div>
                    </div>

                    <div>
                        <label for="email1" class="block text-600 text-xl font-small mb-3 text-center">Entre com celular ou e-mail</label>
                        <button pButton pRipple icon="fas fa-mobile-alt" label="Entrar com celular" class="w-full p-3 text-xl" style="background-color: var(--primary-color)" (click)="registerByPhone(true)"></button>
                        <button pButton pRipple icon="fas fa-envelope" label="Entrar com e-mail" class="w-full p-3 text-xl mt-3 p-button-outlined" style="color: var(--primary-color)" (click)="registerByPhone(false)"></button>
                    </div>

                    <div class="mt-8">
                        <button pButton pRipple label="UTILIZE SEM CADASTRO" class="w-full p-3 text-xl mt-3 p-button-text" style="color: var(--primary-color)" [routerLink]="['/']"></button>
                    </div>
                </div>

                <div *ngIf="!isLoginAcess">
                  <app-register [isRegisterByPhone]="isRegisterByPhone"></app-register>
                </div>
            </div>
        </div>
    </div>
</div>
