<div class="flex align-items-center justify-content-between pb-6 gap-5">
  <div class="align-items-center">
    <div *ngIf="isRegisterByPhone">
      <div class="text-700 text-3xl font-medium mb-3">Entre com seu celular:</div>
      <p-inputMask
        [(ngModel)]="phone"
        mask="(99) 99999-9999"
        styleClass="w-full p-3 md:w-30rem"
      ></p-inputMask>
    </div>
    <div *ngIf="!isRegisterByPhone">
      <div class="text-700 text-3xl font-medium mb-3">Entre com seu e-mail:</div>
      <input
        id="email1"
        type="text"
        placeholder="Endereço de e-mail"
        pInputText
        class="w-full md:w-30rem"
        style="padding:1rem"
      />
    </div>
  </div>
  <div class="pt-6">
    <button
      pButton
      pRipple
      label="Continuar"
      class="p-3 text-xl p-button-outlined"
      style="color: #18423D;"
    ></button>
  </div>
</div>

